@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}
body {
  background: rgb(92, 58, 180);
  background-image: linear-gradient(
    to bottom left,
    #29084d 20%,
    #830d5c80,
    #191919
  ) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

/* Thumb */
body::-webkit-scrollbar-thumb {
  background-color: #888; /* Grey color for the thumb */
  border-radius: 0.25em; /* Rounded corners */
}
a {
  color: inherit;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: white;
}
input {
  background-color: transparent;
}
input::selection {
  background-color: transparent;
}
input::-moz-selection {
  background-color: transparent;
}
